body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.toggle-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #005b8f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #0078a0;
}

.formula {
    background-color: #f8fbfc;
    border: 1px solid #d0e4ed;
    border-radius: 6px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.formula.active {
    max-height: 500px; /* Ajusta este valor según el contenido */
}

input[type="number"] {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0078a0;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005b8f;
}

#resultadoMoles, #resultadoAtomos, #resultadoAtomosDesdeMasa, #resultadoMasaDesdeMoles {
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1em;
}
